<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @order.status == "paid" ? "Order Confirmed!" : "Order Ready!" %></p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>Total: <%= @order.order_total %></p>
    <p>Email: <%= @order.user.email %></p>
  </body>
</html>
