<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Total</th>
      <th scope="col">Items</th>
    </tr>
  </thead>
  <tbody>
	<tr>
      <th scope="row">1</th>
      <td><%= @order.user.email %></td>
      <td><%= @order.order_total %></td>
      <td><%= @order.items.pluck('name')%></td>
    </tr>
  </tbody>
</table>